.bisnis-thumb{
	cursor: pointer;	
}
.bisnis-thumb .details{
	padding-top: 10px;
	padding-left: 15px;
}
.bisnis-thumb .details span{
	font-size: 12px;
	color: #999;
}
.bisnis-thumb .visual>i {
    margin-left: 0px;
}