.banner a {
    background-color: #fff;
}
.all-categories {
    margin-top: 25px;
}
.ads-display .wrapper{
	padding: 0;
}
.focus-layout{
	background-color: #ddd;
}
#container .list li .address {
    display: block;
    font-size: 15px;
    color: rgba(1, 161, 133, 0.57);
    margin: 10px 0 0 0;
}
.title a{
	color: #444;
}
footer{
	border-top: solid 3px #efefef;
}
.rate-star{
	font-size: 25px !important;
}
h1.head {
    color: #f3c500;
    font-size: 35px;
    margin: 35px 0;
}
.interested p {
    color: #000;
    font-size: 14px;
    margin: 5px 0 0 0;
}